@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-stone-100;
    @apply text-gray-800;
  }

  h1 {
    @apply text-5xl;
    @apply font-bold;
  }

  h2 {
    @apply text-4xl;
    @apply font-bold;
  }

  h3 {
    @apply text-2xl;
    @apply font-semibold;
  }

  h4 {
    @apply text-lg;
    @apply font-semibold;
  }

  body {
    @apply text-sm;
    @apply font-normal;
  }

  .error {
    @apply text-red-600;
  }

  .secondary {
    @apply text-xs;
  }
}

.content {
  height: calc(100% - 8rem);
  @media screen and (max-width: 768px) {
    height: calc(100% - 5.5rem);
  }
}

/* remove link to mapbox from logo */
.mapboxgl-ctrl-bottom-left a.mapboxgl-ctrl-logo {
  pointer-events: none;
  cursor: default;
}
